
.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 656px;
    background-image: url('../../Assets/img/fondo_home.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardDetail_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(202, 202, 202, 0.9);
    box-shadow: 3px 5px 25px 5px rgb(150, 139, 118);
    height: 450px;
    width: 80%;
}

.card_container button{
    position: absolute;
    top: 5%;
    right: 44%;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(65, 62, 60, 0.9);
    color: rgb(224, 224, 224);
    box-shadow: 3px 5px 15px 5px rgb(156, 145, 130);
}
.card_container button:hover{
    background-color: rgb(224, 224, 224);
    color: rgb(65, 62, 60, 0.9);
    box-shadow: 3px 5px 15px 5px rgb(82, 79, 77);
}
.cardDetail_header{
    margin-top: 60px;
    width: 260px;
    height: 100%;
    margin-bottom: 20px;
}
.cardDetail_header h3{
    border: 1px solid rgb(172, 169, 169);
    font-size: 27px;
    width: 290px;
    background-color: rgb(65, 62, 60, 0.9);
    color: rgb(224, 224, 224);
    padding: 5px;
    border-radius: 5px;
}
.cardDetail_header img{
    box-shadow: 3px 5px 15px 5px rgb(156, 145, 130);
    border: 1px solid rgb(65, 62, 60, 0.5);
    border-radius: 20px;
    height: 300px;
    width: 300px;
}
.cardDetail_body{
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardDetail_data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
}

.cardDetail_data div{
    width: 120px;
    height: 120px;
    background-color: rgb(65, 62, 60, 0.9);
    color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 3px 5px 15px 5px rgb(156, 145, 130);
}

.cardDetail_temperaments{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDetail_temperaments div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardDetail_temperaments p{
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(65, 62, 60, 0.9);
    padding: 7px;
    box-shadow: 3px 5px 15px 5px rgb(156, 145, 130);
}

.cardDetail_temperaments h4{
    border-radius: 20px;
    background-color: rgb(65, 62, 60, 0.9);
    color: rgb(224, 224, 224);
    width: 50%;
    padding: 5px;
    box-shadow: 3px 5px 15px 5px rgb(156, 145, 130);
}